<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Dlart</title>
</head>
<body>
	<h1>Adicionar produto</h1>
	<form action="/addproduto" method="post">

		<div>
			<label>Add imagem</label> <input type="file" name="imagem">
		</div>
		<div>
			<label>Nome</label> <input type="text" name="nome">
		</div>
		<div>
			<label>Descrição</label> <input type="text" name="descricao">
		</div>
		<div>
			<label>Preço</label> <input type="number" name="preco">
		</div>

		<div>
			<button type="submit">Salvar</button>
			<button type="reset">Limpar</button>
		</div>

	</form>
</body>
</html>